.env
.env.*
*.secret
*.log
logs/
.cache/
node_modules/
**/playerdata/
**/session.lock
**/usercache.json
**/ops.json
**/whitelist.json
**/banned-players.json
**/banned-ips.json
**/losses.properties
**/wins.properties
**/stats.properties
**/players.yml
**/pending-return.properties
